@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Advent Pro', sans-serif;
  font-size: 18px;
}

h1 {
  margin-bottom: .1em;
}

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: white;
}

ul { list-style: none; }

img { width: 100%; }


.navbar {
  background: #489196;
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: bold;
}

.navbar__brand {
  font-size: 20px;
}

.navbar__links {
  display: flex;
}

.navbar__links li {
  transition: .7s ease-in;
}

.navbar__links li:hover {
  background: #62c1c8;
}
.navbar__links li a {
  display: block;
  padding: 0 1em;
  line-height: 66px;
}

.center {
  padding: 1em 2em 2em;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.btn {
  background: #489196;
  border: none;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 0px 4px 9px rgba(72,145,150, 0.5);
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.btn:hover { transform: scale(1.15) }

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  margin: 2em;
}

.card {
  position: relative;
  background: #489196;
  width: 100%;
  height: 150px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.card:hover { transform: scale(1.05) }

.card__body {
  margin-top: 4.5em;
}
.card__img {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.card__img img {
  border-radius: 50%;
  border: 2px solid black;
}

/* BREAKPOINTS FOR MOBILE */
@media (max-width: 700px) {
  body { font-size: 15px }

  .cards {
    grid-template-columns: 1fr; 
  }
}
